In [47]:
import warnings
warnings.filterwarnings(action='ignore')
%config Computer.use_jedi = False
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'D2Coding'
plt.rcParams['font.size'] = 15
import seaborn as sns
from plotnine import *
import missingno as msno
import folium
import requests

In [42]:
academy = pd.read_csv('./data/동북부학원수.csv')
academy = academy.drop(columns=['Unnamed: 0'], axis=1)
academy

     시군구   법정동  면적(㎢)당 학원 수
0    강북구   미아동    24.907063
1    강북구    번동    10.891089
2    강북구   수유동    15.040650
3    강북구   우이동     3.846154
4    노원구   공릉동    15.337423
5    노원구   상계동    26.041667
6    노원구   월계동    13.235294
7    노원구   중계동   113.450292
8    노원구   하계동    20.731707
9    도봉구   도봉동     4.504505
10   도봉구   방학동    21.985816
11   도봉구   쌍문동    27.027027
12   도봉구    창동    25.000000
13  동대문구  답십리동    15.686275
14  동대문구   신설동     4.545455
15  동대문구   용두동    15.789474
16  동대문구   이문동    23.076923
17  동대문구   장안동    35.374150
18  동대문구   전농동    28.723404
19  동대문구   제기동    13.888889
20  동대문구  청량리동     4.838710
21  동대문구   회기동     7.142857
22  동대문구   휘경동    13.953488
23   성북구   길음동    56.179775
24   성북구  상월곡동    10.000000
25   성북구   석관동    17.647059
26   성북구  시가지동    40.167364
27   성북구   장위동    12.408759
28   성북구   정릉동    14.444444
29   성북구   종암동    26.666667
30   성북구  하월곡동    23.809524
31   중랑구   망우동    14.655172
32   중랑구   면목동    11.065574
33   중랑구    묵동    22.222222
34   중랑구   상봉동    13.253012
35   중랑구   신내동    32.727273
36   중랑구   중화동     9.523810

In [44]:
df = academy.rename(columns={'면적(㎢)당 학원 수': '학원수'})
df

     시군구   법정동         학원수
0    강북구   미아동   24.907063
1    강북구    번동   10.891089
2    강북구   수유동   15.040650
3    강북구   우이동    3.846154
4    노원구   공릉동   15.337423
5    노원구   상계동   26.041667
6    노원구   월계동   13.235294
7    노원구   중계동  113.450292
8    노원구   하계동   20.731707
9    도봉구   도봉동    4.504505
10   도봉구   방학동   21.985816
11   도봉구   쌍문동   27.027027
12   도봉구    창동   25.000000
13  동대문구  답십리동   15.686275
14  동대문구   신설동    4.545455
15  동대문구   용두동   15.789474
16  동대문구   이문동   23.076923
17  동대문구   장안동   35.374150
18  동대문구   전농동   28.723404
19  동대문구   제기동   13.888889
20  동대문구  청량리동    4.838710
21  동대문구   회기동    7.142857
22  동대문구   휘경동   13.953488
23   성북구   길음동   56.179775
24   성북구  상월곡동   10.000000
25   성북구   석관동   17.647059
26   성북구  시가지동   40.167364
27   성북구   장위동   12.408759
28   성북구   정릉동   14.444444
29   성북구   종암동   26.666667
30   성북구  하월곡동   23.809524
31   중랑구   망우동   14.655172
32   중랑구   면목동   11.065574
33   중랑구    묵동   22.222222
34   중랑구   상봉동   13.253012
35   중랑구   신내동   32.727273
36   중랑구   중화동    9.523810

In [45]:
df['법정동']  = df['법정동'].replace('시가지동', '성북동')
df

     시군구   법정동         학원수
0    강북구   미아동   24.907063
1    강북구    번동   10.891089
2    강북구   수유동   15.040650
3    강북구   우이동    3.846154
4    노원구   공릉동   15.337423
5    노원구   상계동   26.041667
6    노원구   월계동   13.235294
7    노원구   중계동  113.450292
8    노원구   하계동   20.731707
9    도봉구   도봉동    4.504505
10   도봉구   방학동   21.985816
11   도봉구   쌍문동   27.027027
12   도봉구    창동   25.000000
13  동대문구  답십리동   15.686275
14  동대문구   신설동    4.545455
15  동대문구   용두동   15.789474
16  동대문구   이문동   23.076923
17  동대문구   장안동   35.374150
18  동대문구   전농동   28.723404
19  동대문구   제기동   13.888889
20  동대문구  청량리동    4.838710
21  동대문구   회기동    7.142857
22  동대문구   휘경동   13.953488
23   성북구   길음동   56.179775
24   성북구  상월곡동   10.000000
25   성북구   석관동   17.647059
26   성북구   성북동   40.167364
27   성북구   장위동   12.408759
28   성북구   정릉동   14.444444
29   성북구   종암동   26.666667
30   성북구  하월곡동   23.809524
31   중랑구   망우동   14.655172
32   중랑구   면목동   11.065574
33   중랑구    묵동   22.222222
34   중랑구   상봉동   13.253012
35   중랑구   신내동   32.727273
36   중랑구   중화동    9.523810

In [52]:
# 네이버 개발자 포털에서 발급한 Client ID와 Client Secret
client_id = '5j924usqjd'
client_secret = 'W4wjDI2jRzuvP1N0zo9UiG1zTRoDP30idjpESbp4'

# '위도'와 '경도' 칼럼을 추가합니다.
df['위도'] = None
df['경도'] = None

# 네이버 지오코딩 API를 호출하여 주소별 위도와 경도를 얻습니다.
for index, row in df.iterrows():
    address = row['법정동']
    url = f'https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query={address}'
    headers = {
        'X-NCP-APIGW-API-KEY-ID': client_id,
        'X-NCP-APIGW-API-KEY': client_secret
    }
    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        data = response.json()
        if data.get('addresses'):
            latitude = data['addresses'][0]['y']
            longitude = data['addresses'][0]['x']
            df.at[index, '위도'] = latitude
            df.at[index, '경도'] = longitude

# 결과를 출력합니다.
df

     시군구   법정동         학원수          위도           경도
0    강북구   미아동   24.907063  37.6270736  127.0269791
1    강북구    번동   10.891089  37.6378913  127.0288473
2    강북구   수유동   15.040650  37.6300865  127.0176014
3    강북구   우이동    3.846154     37.6633      127.002
4    노원구   공릉동   15.337423   37.624874   127.073838
5    노원구   상계동   26.041667  37.6799006  127.0549781
6    노원구   월계동   13.235294  37.6199197  127.0630165
7    노원구   중계동  113.450292  37.6525986  127.0775275
8    노원구   하계동   20.731707  37.6405374  127.0725852
9    도봉구   도봉동    4.504505  37.6786913  127.0434369
10   도봉구   방학동   21.985816  37.6641763  127.0407251
11   도봉구   쌍문동   27.027027  37.6480275  127.0261145
12   도봉구    창동   25.000000  37.6483046  127.0438683
13  동대문구  답십리동   15.686275  37.5717963  127.0512678
14  동대문구   신설동    4.545455  37.5749343  127.0255251
15  동대문구   용두동   15.789474  37.5758884  127.0372011
16  동대문구   이문동   23.076923   37.597849    127.06545
17  동대문구   장안동   35.374150   37.567842   127.066375
18  동대문구   전농동   28.723404  37.5779984  127.0477575
19  동대문구   제기동   13.888889  37.5831612  127.0378551
20  동대문구  청량리동    4.838710  37.5831766  127.0484354
21  동대문구   회기동    7.142857  37.5908083  127.0553132
22  동대문구   휘경동   13.953488   37.592932   127.065725
23   성북구   길음동   56.179775  37.6104856  127.0193925
24   성북구  상월곡동   10.000000   37.606099   127.046963
25   성북구   석관동   17.647059   37.612957   127.061413
26   성북구   성북동   40.167364  37.5911237  127.0032875
27   성북구   장위동   12.408759  37.6141245  127.0437129
28   성북구   정릉동   14.444444  37.6014512  127.0166146
29   성북구   종암동   26.666667  37.5990075  127.0351572
30   성북구  하월곡동   23.809524   37.604407     127.0387
31   중랑구   망우동   14.655172   37.600899     127.1073
32   중랑구   면목동   11.065574  37.5873592  127.0874227
33   중랑구    묵동   22.222222  37.6123734  127.0784729
34   중랑구   상봉동   13.253012  37.5998799  127.0872004
35   중랑구   신내동   32.727273   37.605882   127.099538
36   중랑구   중화동    9.523810  37.6011745   127.080623

In [53]:
df['위도'] = df['위도'].str.replace(',', '').astype(float)
df['경도'] = df['경도'].str.replace(',', '').astype(float)
df

     시군구   법정동         학원수         위도          경도
0    강북구   미아동   24.907063  37.627074  127.026979
1    강북구    번동   10.891089  37.637891  127.028847
2    강북구   수유동   15.040650  37.630086  127.017601
3    강북구   우이동    3.846154  37.663300  127.002000
4    노원구   공릉동   15.337423  37.624874  127.073838
5    노원구   상계동   26.041667  37.679901  127.054978
6    노원구   월계동   13.235294  37.619920  127.063017
7    노원구   중계동  113.450292  37.652599  127.077528
8    노원구   하계동   20.731707  37.640537  127.072585
9    도봉구   도봉동    4.504505  37.678691  127.043437
10   도봉구   방학동   21.985816  37.664176  127.040725
11   도봉구   쌍문동   27.027027  37.648027  127.026115
12   도봉구    창동   25.000000  37.648305  127.043868
13  동대문구  답십리동   15.686275  37.571796  127.051268
14  동대문구   신설동    4.545455  37.574934  127.025525
15  동대문구   용두동   15.789474  37.575888  127.037201
16  동대문구   이문동   23.076923  37.597849  127.065450
17  동대문구   장안동   35.374150  37.567842  127.066375
18  동대문구   전농동   28.723404  37.577998  127.047758
19  동대문구   제기동   13.888889  37.583161  127.037855
20  동대문구  청량리동    4.838710  37.583177  127.048435
21  동대문구   회기동    7.142857  37.590808  127.055313
22  동대문구   휘경동   13.953488  37.592932  127.065725
23   성북구   길음동   56.179775  37.610486  127.019392
24   성북구  상월곡동   10.000000  37.606099  127.046963
25   성북구   석관동   17.647059  37.612957  127.061413
26   성북구   성북동   40.167364  37.591124  127.003287
27   성북구   장위동   12.408759  37.614125  127.043713
28   성북구   정릉동   14.444444  37.601451  127.016615
29   성북구   종암동   26.666667  37.599007  127.035157
30   성북구  하월곡동   23.809524  37.604407  127.038700
31   중랑구   망우동   14.655172  37.600899  127.107300
32   중랑구   면목동   11.065574  37.587359  127.087423
33   중랑구    묵동   22.222222  37.612373  127.078473
34   중랑구   상봉동   13.253012  37.599880  127.087200
35   중랑구   신내동   32.727273  37.605882  127.099538
36   중랑구   중화동    9.523810  37.601174  127.080623

In [59]:
mean_latitude = data['위도'].mean()
mean_longitude = data['경도'].mean()

AttributeError: 'float' object has no attribute 'mean'

In [57]:
data = df
df_map = folium.Map(location=[data.위도.mean(), data.경도.mean()], zoom_start=12)

for index, df in data.iterrows():
    popup = folium.Popup('{}: {:,.0f}'.format(index, df.학원수), max_width=300)
    folium.CircleMarker(location=[df.위도, df.경도], popup=popup, radius=df.매장수 / 40, 
                        color='red',fill_color='blue').add_to(df_map)

df_map.save('./output/df_map.html')
df_map

AttributeError: 'float' object has no attribute 'mean'

In [8]:
width = pd.read_csv('./data/동북부면적.csv')
width = width.drop(columns=['Unnamed: 0'], axis=1)
width

     시군구   법정동    면적
0   동대문구   신설동  0.22
1   동대문구   용두동  0.76
2   동대문구   제기동  0.72
3   동대문구   전농동  0.94
4   동대문구  답십리동  1.02
5   동대문구   장안동  1.47
6   동대문구  청량리동  0.62
7   동대문구   회기동  0.28
8   동대문구   휘경동  0.86
9   동대문구   이문동  0.91
10   중랑구   면목동  2.44
11   중랑구   상봉동  0.83
12   중랑구   중화동  0.84
13   중랑구    묵동  0.90
14   중랑구   망우동  1.16
15   중랑구   신내동  1.10
16   성북구   성북동  1.04
17   성북구  시가지동  2.39
18   성북구   정릉동  1.80
19   성북구   길음동  0.89
20   성북구   종암동  0.75
21   성북구  하월곡동  1.05
22   성북구  상월곡동  0.20
23   성북구   장위동  1.37
24   성북구   석관동  0.68
25   강북구   미아동  2.69
26   강북구    번동  1.01
27   강북구   수유동  2.46
28   강북구   우이동  0.52
29   도봉구   쌍문동  1.48
30   도봉구   방학동  1.41
31   도봉구    창동  2.16
32   도봉구   도봉동  1.11
33   노원구   월계동  1.36
34   노원구   공릉동  1.63
35   노원구   하계동  0.82
36   노원구   상계동  3.84
37   노원구   중계동  1.71

In [9]:
house = pd.read_csv('./data/동북부집값.csv')
house = house.drop(columns=['Unnamed: 0'], axis=1)
house

     시군구   법정동  면적(㎡)당금액
0    강북구   미아동     990.0
1    강북구    번동     922.0
2    강북구   수유동     965.0
3    강북구   우이동     755.0
4    노원구   공릉동    1016.0
5    노원구   상계동    1115.0
6    노원구   월계동    1213.0
7    노원구   중계동    1169.0
8    노원구   하계동    1222.0
9    도봉구   도봉동     784.0
10   도봉구   방학동     791.0
11   도봉구   쌍문동     786.0
12   도봉구    창동    1075.0
13  동대문구  답십리동    1164.0
14  동대문구   신설동    1228.0
15  동대문구   용두동    1278.0
16  동대문구   이문동    1132.0
17  동대문구   장안동     942.0
18  동대문구   전농동    1438.0
19  동대문구   제기동     949.0
20  동대문구  청량리동    1185.0
21  동대문구   회기동     989.0
22  동대문구   휘경동    1232.0
23   성북구   길음동    1321.0
24   성북구  상월곡동     922.0
25   성북구   석관동    1259.0
26   성북구   성북동     562.0
27   성북구  시가지동     994.0
28   성북구   장위동    1216.0
29   성북구   정릉동    1132.0
30   성북구   종암동    1172.0
31   성북구  하월곡동    1020.0
32   중랑구   망우동     785.0
33   중랑구   면목동     974.0
34   중랑구    묵동     914.0
35   중랑구   상봉동    1147.0
36   중랑구   신내동     936.0
37   중랑구   중화동     790.0

In [10]:
school = pd.read_csv('./data/동북부학교수.csv')
school = school.drop(columns=['Unnamed: 0'], axis=1)
school

     시군구   법정동  면적(㎢)당 학교 수
0    강북구   미아동     2.230483
1    강북구   수유동     0.406504
2    노원구   공릉동     1.226994
3    노원구   상계동     1.562500
4    노원구   월계동     3.676471
5    노원구   중계동     5.263158
6    노원구   하계동     3.658537
7    도봉구   도봉동     1.801802
8    도봉구   방학동     0.709220
9    도봉구   쌍문동     2.702703
10   도봉구    창동     1.388889
11  동대문구   신설동     4.545455
12  동대문구   이문동     1.098901
13  동대문구   장안동     0.680272
14  동대문구   전농동     2.127660
15  동대문구   제기동     1.388889
16  동대문구  청량리동     1.612903
17  동대문구   회기동     3.571429
18  동대문구   휘경동     3.488372
19   성북구   길음동     1.123596
20   성북구   석관동     1.470588
21   성북구   성북동     1.923077
22   성북구  시가지동     2.092050
23   성북구   정릉동     1.666667
24   성북구  하월곡동     0.952381
25   중랑구   망우동     4.310345
26   중랑구   면목동     0.409836
27   중랑구    묵동     2.222222
28   중랑구   상봉동     1.204819
29   중랑구   중화동     1.190476