In [2]:
import warnings
warnings.filterwarnings(action='ignore')
%config Computer.use_jedi = False
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import missingno as msno
plt.rc('font', family='D2Coding')
from plotnine import *
import folium
from folium.plugins import MiniMap
from geopy.geocoders import Nominatim
import requests

In [15]:
width = pd.read_csv('./data/법정동학원개수.csv')
width

     행정동명  학원 개수      면적  면적 당 학원 수  1제곱미터당 학원 수         위도          경도   법정동
0    가락1동      9  1340.0        0.0     0.006716  37.496490  127.109865   가락동
1    가락2동     22   960.0        0.0     0.022917  37.498705  127.126671   가락동
2    가락본동     14  1130.0        0.0     0.012389  37.495557  127.121786   가락동
3    가리봉동      1   400.0        0.0     0.002500  37.482556  126.889749  가리봉동
4     가산동      9  2520.0        0.0     0.003571  37.476909  126.891733   가산동
..    ...    ...     ...        ...          ...        ...         ...   ...
410   효창동      6  1120.0        0.0     0.005357  37.542457  126.961850   효창동
411   후암동      6   450.0        0.0     0.013333  37.548637  126.978134   후암동
412  휘경1동      3   530.0        0.0     0.005660  37.592932  127.065725   휘경동
413  휘경2동      9   820.0        0.0     0.010976  37.590209  127.068579   휘경동
414   흑석동     15  1110.0        0.0     0.013514  37.505862  126.966612   흑석동

[415 rows x 8 columns]

In [16]:
width.drop(columns=['행정동명', '학원 개수', '면적 당 학원 수', '위도', '경도', '1제곱미터당 학원 수'], inplace=True)
width

         면적   법정동
0    1340.0   가락동
1     960.0   가락동
2    1130.0   가락동
3     400.0  가리봉동
4    2520.0   가산동
..      ...   ...
410  1120.0   효창동
411   450.0   후암동
412   530.0   휘경동
413   820.0   휘경동
414  1110.0   흑석동

[415 rows x 2 columns]

In [20]:
width = width[['법정동', '면적']]
width.to_csv('./data/법정동면적.csv')
width

      법정동      면적
0     가락동  1340.0
1     가락동   960.0
2     가락동  1130.0
3    가리봉동   400.0
4     가산동  2520.0
..    ...     ...
410   효창동  1120.0
411   후암동   450.0
412   휘경동   530.0
413   휘경동   820.0
414   흑석동  1110.0

[415 rows x 2 columns]

In [24]:
park = pd.read_csv('./data/park.csv', encoding='cp949')
park

,관리번호,공원명,공원구분,소재지도로명주소,소재지지번주소,위도,경도,공원면적,공원보유시설(운동시설),공원보유시설(유희시설),공원보유시설(편익시설),공원보유시설(교양시설),공원보유시설(기타시설),지정고시일,관리기관명,전화번호,데이터기준일자,제공기관코드,제공기관명
0,41390-00084,승지공원,근린공원,경기도 시흥시 능곡중앙로 85,경기도 시흥시 능곡동 552,37.371378,126.813132,10842.0,NaN,조합놀이대,NaN,도서관,NaN,2004-11-10,경기도 시흥시청,031-310-3869,2022-11-28,4010000,경기도 시흥시
1,41570-00059,고촌어린이19(수기1공원),어린이공원,NaN,경기도 김포시 고촌읍 신곡리 1249,37.600127,126.767372,1715.0,NaN,조합놀이대+그네,NaN,NaN,NaN,2005-06-07,경기도 김포시 공원관리과,031-980-5627,2022-10-18,4090000,경기도 김포시
2,41570-00060,고촌어린이20(수기2공원),어린이공원,NaN,경기도 김포시 고촌읍 신곡리 1260,37.596805,126.770145,1522.0,체력단련시설,조합놀이대+그네,NaN,NaN,NaN,2005-06-07,경기도 김포시 공원관리과,031-980-5627,2022-10-18,4090000,경기도 김포시
3,41570-00061,고촌어린이21(수기3공원),어린이공원,NaN,경기도 김포시 고촌읍 신곡리 1268,37.596252,126.767048,1567.0,NaN,조합놀이대+그네,NaN,NaN,NaN,2005-06-07,경기도 김포시 공원관리과,031-980-5627,2022-10-18,4090000,경기도 김포시
4,41570-00063,항공소공원1,소공원,NaN,경기도 김포시 대곶면 대벽리 산66-56,37.617583,126.580436,1968.0,NaN,NaN,NaN,NaN,NaN,2007-12-17,경기도 김포시 공원녹지과,031-980-2344,2022-10-18,4090000,경기도 김포시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18213,11500-00044,꿈돌이,어린이공원,NaN,서울특별시 강서구 화곡동 24-128,37.546097,126.845352,1507.0,NaN,어린이놀이시설,화장실,NaN,NaN,NaN,서울특별시 강서구청,02-2600-4202,2023-03-10,3150000,서울특별시 강서구
18214,11500-00045,소나무,어린이공원,NaN,서울특별시 강서구 화곡동 29-31,37.547058,126.847807,942.0,NaN,어린이놀이시설,NaN,NaN,NaN,NaN,서울특별시 강서구청,02-2600-4202,2023-03-10,3150000,서울특별시 강서구
18215,11500-00046,산새,어린이공원,NaN,서울특별시 강서구 화곡동 772,37.546268,126.850385,539.0,NaN,어린이놀이시설,음수대,NaN,NaN,NaN,서울특별시 강서구청,02-2600-4202,2023-03-10,3150000,서울특별시 강서구
18216,11500-00047,박장,어린이공원,NaN,서울특별시 강서구 화곡동 56-25,37.540768,126.849087,929.0,NaN,어린이놀이시설,NaN,NaN,NaN,NaN,서울특별시 강서구청,02-2600-4202,2023-03-10,3150000,서울특별시 강서구
18217,11500-00048,참새,어린이공원,NaN,서울특별시 강서구 화곡동 56-638,37.539725,126.847003,256.0,NaN,어린이놀이시설,NaN,NaN,NaN,NaN,서울특별시 강서구청,02-2600-4202,2023-03-10,3150000,서울특별시 강서구

In [25]:
# drop() 메소드로 불요할 컬럼을 제거한다.
park.drop(columns=['관리번호','소재지도로명주소','소재지지번주소','전화번호','데이터기준일자','제공기관코드','공원보유시설(운동시설)', '공원보유시설(유희시설)', '공원보유시설(편익시설)', 
                '공원보유시설(교양시설)', '공원보유시설(기타시설)', '지정고시일', '관리기관명'], inplace=True)
park

                  공원명   공원구분         위도          경도     공원면적      제공기관명
0                승지공원   근린공원  37.371378  126.813132  10842.0    경기도 시흥시
1      고촌어린이19(수기1공원)  어린이공원  37.600127  126.767372   1715.0    경기도 김포시
2      고촌어린이20(수기2공원)  어린이공원  37.596805  126.770145   1522.0    경기도 김포시
3      고촌어린이21(수기3공원)  어린이공원  37.596252  126.767048   1567.0    경기도 김포시
4              항공소공원1    소공원  37.617583  126.580436   1968.0    경기도 김포시
...               ...    ...        ...         ...      ...        ...
18213             꿈돌이  어린이공원  37.546097  126.845352   1507.0  서울특별시 강서구
18214             소나무  어린이공원  37.547058  126.847807    942.0  서울특별시 강서구
18215              산새  어린이공원  37.546268  126.850385    539.0  서울특별시 강서구
18216              박장  어린이공원  37.540768  126.849087    929.0  서울특별시 강서구
18217              참새  어린이공원  37.539725  126.847003    256.0  서울특별시 강서구

[18218 rows x 6 columns]

In [26]:
# 네이버 개발자 포털에서 발급한 Client ID와 Client Secret
client_id = '5j924usqjd'
client_secret = 'W4wjDI2jRzuvP1N0zo9UiG1zTRoDP30idjpESbp4'

for index, row in park.iterrows():
    latitude = row['위도']
    longitude = row['경도']
    if latitude is not None and longitude is not None:
        url = f'https://naveropenapi.apigw.ntruss.com/map-reversegeocode/v2/gc?request=coordsToaddr&coords={longitude},{latitude}&sourcecrs=epsg:4326&output=json&orders=addr,admcode'
        headers = {
            'X-NCP-APIGW-API-KEY-ID': client_id,
            'X-NCP-APIGW-API-KEY': client_secret
        }
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            data = response.json()
            if data.get('results'):
                address = data['results'][0]['region']['area3']['name']  
                park.at[index, '법정동'] = address 
park

                  공원명   공원구분         위도          경도     공원면적      제공기관명  법정동
0                승지공원   근린공원  37.371378  126.813132  10842.0    경기도 시흥시  능곡동
1      고촌어린이19(수기1공원)  어린이공원  37.600127  126.767372   1715.0    경기도 김포시  고촌읍
2      고촌어린이20(수기2공원)  어린이공원  37.596805  126.770145   1522.0    경기도 김포시  고촌읍
3      고촌어린이21(수기3공원)  어린이공원  37.596252  126.767048   1567.0    경기도 김포시  고촌읍
4              항공소공원1    소공원  37.617583  126.580436   1968.0    경기도 김포시  대곶면
...               ...    ...        ...         ...      ...        ...  ...
18213             꿈돌이  어린이공원  37.546097  126.845352   1507.0  서울특별시 강서구  화곡동
18214             소나무  어린이공원  37.547058  126.847807    942.0  서울특별시 강서구  화곡동
18215              산새  어린이공원  37.546268  126.850385    539.0  서울특별시 강서구  화곡동
18216              박장  어린이공원  37.540768  126.849087    929.0  서울특별시 강서구  화곡동
18217              참새  어린이공원  37.539725  126.847003    256.0  서울특별시 강서구  화곡동

[18218 rows x 7 columns]

In [30]:
# '서울특별시'를 포함하는 행 추출
park_seoul = park[park['제공기관명'].str.contains('서울특별시')]
park_seoul

        공원명   공원구분         위도          경도     공원면적      제공기관명  법정동
399    까치공원  어린이공원  37.523422  127.029229    992.9  서울특별시 강남구  신사동
578     덕수천   근린공원  37.609251  126.906560   5569.1  서울특별시 은평구  구산동
579     마고정   근린공원  37.611787  126.909981   4551.6  서울특별시 은평구  구산동
580     우물골   근린공원  37.635134  126.925378   7203.1  서울특별시 은평구  진관동
581      신도   근린공원  37.594288  126.919595  12020.0  서울특별시 은평구  응암동
...     ...    ...        ...         ...      ...        ...  ...
18213   꿈돌이  어린이공원  37.546097  126.845352   1507.0  서울특별시 강서구  화곡동
18214   소나무  어린이공원  37.547058  126.847807    942.0  서울특별시 강서구  화곡동
18215    산새  어린이공원  37.546268  126.850385    539.0  서울특별시 강서구  화곡동
18216    박장  어린이공원  37.540768  126.849087    929.0  서울특별시 강서구  화곡동
18217    참새  어린이공원  37.539725  126.847003    256.0  서울특별시 강서구  화곡동

[1939 rows x 7 columns]

In [32]:
grouped_df = park_seoul.groupby('법정동').agg({'공원면적': 'sum'}).reset_index()
grouped_df

     법정동      공원면적
0    가락동  111991.7
1    가산동    3650.6
2    가양동  234663.0
3    갈현동  122909.3
4    강일동  176616.9
..   ...       ...
269  회기동     400.0
270  효창동  174662.4
271  후암동    2522.0
272  휘경동    9454.2
273  흑석동  388345.8

[274 rows x 2 columns]

In [33]:
grouped_df = grouped_df.sort_values(by='공원면적', ascending=False)
grouped_df

      법정동        공원면적
258    항동  10691299.0
51    도봉동   8822249.0
184   오류동   7894253.0
108   상계동   6953166.5
187   온수동   5717815.0
..    ...         ...
120  서소문동       397.5
256    합동       381.3
42    당인동       301.0
156   신창동       257.0
211   인사동       219.9

[274 rows x 2 columns]

In [36]:
grouped_df.to_csv('./data/법정동공원면적.csv', index=False)
grouped_df

      법정동        공원면적
258    항동  10691299.0
51    도봉동   8822249.0
184   오류동   7894253.0
108   상계동   6953166.5
187   온수동   5717815.0
..    ...         ...
120  서소문동       397.5
256    합동       381.3
42    당인동       301.0
156   신창동       257.0
211   인사동       219.9

[274 rows x 2 columns]