In [1]:
import warnings
warnings.filterwarnings(action='ignore')
%config Computer.use_jedi = False
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import missingno as msno
plt.rc('font', family='D2Coding')
from plotnine import *
import folium
from folium.plugins import MiniMap
from geopy.geocoders import Nominatim
import requests

In [2]:
middle_study = pd.read_csv('./data/중학교 방과후.csv')
middle_study

,학교명,설립구분,교과프로그램수,교과수강학생수,특기적성프로그램수,특기적성수강학생수,프로그램수(계),수강학생수(계),방과후학교참여학생수,방과후학교 수익자부담금액,방과후학교 수익자부담외지원금액
0,개원중학교,공립,4,29,5,75,9,104,104,5553450,333900
1,경원중학교,공립,0,0,9,159,9,159,157,6135500,3885000
2,구룡중학교,공립,3,33,2,51,5,84,84,15336310,1352620
3,압구정중학교,공립,0,0,6,77,6,77,77,0,12000000
4,단국대학교사범대학부속중학교,사립,0,0,5,81,5,81,81,2964340,5287330
...,...,...,...,...,...,...,...,...,...,...,...
382,항동중학교,공립,4,39,8,130,12,169,121,1946000,13296000
383,신길중학교,공립,1,18,6,76,7,94,84,1440000,60000
384,마곡하늬중학교,공립,3,43,7,90,10,133,105,13280000,25227000
385,해누리중학교,공립,2,28,7,304,9,332,332,3350000,2275000
386,강빛중학교,공립,7,41,3,27,10,68,68,0,25800000

In [3]:
high_study = pd.read_csv('./data/고등학교 방과후.csv')
high_study

,학교명,설립구분,교과프로그램수,교과수강학생수,특기적성프로그램수,특기적성수강학생수,프로그램수(계),수강학생수(계),방과후학교참여학생수,방과후학교 수익자부담금액,방과후학교 수익자부담외지원금액
0,가락고등학교,공립,0,0,0,0,0,0,0,1665500,1034500
1,강동고등학교,사립,4,97,0,0,4,97,97,67573970,8687140
2,강서고등학교,사립,4,33,2,17,6,50,50,24932000,2253900
3,개포고등학교,공립,0,0,0,0,0,0,0,0,0
4,건국대학교사범대학부속고등학교,사립,57,137,0,0,57,137,129,18773600,857300
...,...,...,...,...,...,...,...,...,...,...,...
313,가재울고등학교,공립,0,0,1,15,1,15,15,2637760,1487170
314,하나고등학교,사립,0,0,0,0,0,0,0,249465410,32426670
315,금호고등학교,공립,0,0,0,0,0,0,0,2340000,3960000
316,도선고등학교,공립,2,20,0,0,2,20,20,6547010,17027820
317,덕수고등학교(일반고),공립,5,61,0,0,5,61,61,3549000,56000

In [4]:
high_student = pd.read_csv('./data/고등학교 학생수.csv')
high_student

,학교명,1학년(남),1학년(여),2학년(남),2학년(여),3학년(남),3학년(여),계(남),계(여),총계
0,가락고등학교,90,147,97,154,125,154,312,455,767
1,강동고등학교,141,76,107,88,110,93,358,257,615
2,강서고등학교,328,0,331,0,333,0,992,0,992
3,개포고등학교,94,123,98,106,99,114,296,343,639
4,건국대학교사범대학부속고등학교,193,130,192,122,194,135,579,387,966
...,...,...,...,...,...,...,...,...,...,...
318,경동고등학교부설방송통신고등학교,27,48,26,62,40,64,93,174,267
319,경복고등학교부설방송통신고등학교,26,99,30,74,47,92,103,265,368
320,수도여자고등학교부설방송통신고등학교,0,73,0,93,0,69,0,235,235
321,영등포고등학교부설방송통신고등학교,25,36,28,46,29,45,82,127,209
322,경기여자고등학교부설방송통신고등학교,0,103,0,110,0,123,0,336,336

In [5]:
high_info = pd.read_csv('./data/고등학교 정보.csv')
high_info

,시도교육청,지역교육청,지역,정보공시 학교코드,학교명,학교급코드,설립구분,학교특성,분교여부,설립유형,...,우편번호,학교도로명 우편번호,학교도로명 주소,학교도로명 상세주소,위도,경도,전화번호,팩스번호,홈페이지 주소,남녀공학 구분
0,서울특별시교육청,서울특별시교육청,서울특별시 송파구,S010000370,가락고등학교,4,공립,일반고등학교,N,단설,...,138170.0,5678,서울특별시 송파구 송이로 42,"(송파동,가락고등학교)",37.501637,127.116943,02-416-4658,02-421-9669,http://garak.sen.hs.kr,남녀공학
1,서울특별시교육청,서울특별시교육청,서울특별시 강동구,S010000371,강동고등학교,4,사립,일반고등학교,N,단설,...,134837.0,5279,서울특별시 강동구 구천면로 572,(상일동),37.549890,127.160702,02-427-0231,02-441-3494,http://kangdong.sen.hs.kr,남녀공학
2,서울특별시교육청,서울특별시교육청,서울특별시 양천구,S010000372,강서고등학교,4,사립,일반고등학교,N,단설,...,158814.0,7958,서울특별시 양천구 목동중앙남로 27,", 강서고등학교 (목동)",37.536777,126.866330,02-2642-0725,02-2651-3046,http://gangseo.sen.hs.kr,남
3,서울특별시교육청,서울특별시교육청,서울특별시 강남구,S010000373,개포고등학교,4,공립,일반고등학교,N,단설,...,135240.0,6324,서울특별시 강남구 개포로 402,"(개포동, 개포고등학교)",37.484959,127.059405,02-576-3333,02-571-6560,http://gaepo.sen.hs.kr,남녀공학
4,서울특별시교육청,서울특별시교육청,서울특별시 광진구,S010000374,건국대학교사범대학부속고등학교,4,사립,일반고등학교,N,부속,...,143701.0,5029,서울특별시 광진구 능동로 120,", 건국대학교사범대학부속고등학교 (화양동)",37.540060,127.080340,070-7012-3500,02-456-0646,http://konkuk.sen.hs.kr,남녀공학
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,서울특별시교육청,서울특별시교육청,서울특별시 서대문구,S010005591,가재울고등학교,4,공립,일반고등학교,N,단설,...,120811.0,3709,서울특별시 서대문구 수색로 100-35,(북가좌동),37.574297,126.909499,02-6351-0500,02-307-6605,http://gajaeul.sen.hs.kr,남녀공학
314,서울특별시교육청,서울특별시교육청,서울특별시 은평구,S010005616,하나고등학교,4,사립,자율고등학교,N,단설,...,122200.0,3305,서울특별시 은평구 연서로 535,", 하나고등학교 (진관동)",37.641637,126.936930,02-6913-1111,02-6913-1785,http://www.hana.hs.kr,남녀공학
315,서울특별시교육청,서울특별시교육청,서울특별시 성동구,S010006381,금호고등학교,4,공립,일반고등학교,N,단설,...,NaN,4727,서울특별시 성동구 금호로 118,(금호동1가),37.553250,127.023620,02-2022-0800,02-2022-0840,http://geumho.sen.hs.kr,남녀공학
316,서울특별시교육청,서울특별시교육청,서울특별시 성동구,S010006382,도선고등학교,4,공립,일반고등학교,N,단설,...,NaN,4701,서울특별시 성동구 마장로 156,(하왕십리동),37.567131,127.026809,02-2292-8175,02-2292-7556,http://dosun.sen.hs.kr,남녀공학
317,서울특별시교육청,서울특별시교육청,서울특별시 송파구,S010006558,덕수고등학교(일반고),4,공립,일반고등학교,N,단설,...,NaN,5846,서울특별시 송파구 위례북로 10,"(거여동, 덕수고등학교)",37.485367,127.146854,02-6952-2801,02-449-9069,https://duksoowr.sen.hs.kr,남녀공학

In [6]:
high_info.columns

Index(['시도교육청', '지역교육청', '지역', '정보공시 학교코드', '학교명', '학교급코드', '설립구분', '학교특성',
       '분교여부', '설립유형', '주야구분', '개교기념일', '설립일', '법정동코드', '주소내역', '상세주소내역',
       '우편번호', '학교도로명 우편번호', '학교도로명 주소', '학교도로명 상세주소', '위도', '경도', '전화번호',
       '팩스번호', '홈페이지 주소', '남녀공학 구분'],
      dtype='object')

In [7]:
high_info.drop(columns=['시도교육청', '지역교육청','학교급코드', '지역', '정보공시 학교코드','설립구분', '학교특성',
       '분교여부', '설립유형', '주야구분', '개교기념일', '설립일', '법정동코드', '주소내역', '상세주소내역', '우편번호', '학교도로명 우편번호',
        '전화번호', '팩스번호', '홈페이지 주소', '남녀공학 구분'], inplace=True)
high_info

,학교명,학교도로명 주소,학교도로명 상세주소,위도,경도
0,가락고등학교,서울특별시 송파구 송이로 42,"(송파동,가락고등학교)",37.501637,127.116943
1,강동고등학교,서울특별시 강동구 구천면로 572,(상일동),37.549890,127.160702
2,강서고등학교,서울특별시 양천구 목동중앙남로 27,", 강서고등학교 (목동)",37.536777,126.866330
3,개포고등학교,서울특별시 강남구 개포로 402,"(개포동, 개포고등학교)",37.484959,127.059405
4,건국대학교사범대학부속고등학교,서울특별시 광진구 능동로 120,", 건국대학교사범대학부속고등학교 (화양동)",37.540060,127.080340
...,...,...,...,...,...
313,가재울고등학교,서울특별시 서대문구 수색로 100-35,(북가좌동),37.574297,126.909499
314,하나고등학교,서울특별시 은평구 연서로 535,", 하나고등학교 (진관동)",37.641637,126.936930
315,금호고등학교,서울특별시 성동구 금호로 118,(금호동1가),37.553250,127.023620
316,도선고등학교,서울특별시 성동구 마장로 156,(하왕십리동),37.567131,127.026809
317,덕수고등학교(일반고),서울특별시 송파구 위례북로 10,"(거여동, 덕수고등학교)",37.485367,127.146854

In [8]:
# 네이버 개발자 포털에서 발급한 Client ID와 Client Secret
client_id = '5j924usqjd'
client_secret = 'W4wjDI2jRzuvP1N0zo9UiG1zTRoDP30idjpESbp4'

# '위도'와 '경도' 정보가 있는 데이터프레임 (house_df)에서 반복적으로 역 지오코딩을 수행합니다.
for index, row in high_info.iterrows():
    latitude = row['위도']
    longitude = row['경도']
#     https://naveropenapi.apigw.ntruss.com/map-reversegeocode/v2/gc?request=coordsToaddr&coords=129.1133567,35.2982640&sourcecrs=epsg:4326&output=json&orders=addr,admcode
    if latitude is not None and longitude is not None:
        url = f'https://naveropenapi.apigw.ntruss.com/map-reversegeocode/v2/gc?request=coordsToaddr&coords={longitude},{latitude}&sourcecrs=epsg:4326&output=json&orders=addr,admcode'
        headers = {
            'X-NCP-APIGW-API-KEY-ID': client_id,
            'X-NCP-APIGW-API-KEY': client_secret
        }
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            data = response.json()
            if data.get('results'):
                gu = data['results'][0]['region']['area2']['name']  # 예시로 주소 중 'area3'의 'name' 사용
                dong = data['results'][0]['region']['area3']['name']  # 예시로 주소 중 'area3'의 'name' 사용
                high_info.at[index, '법정동'] = dong  # 주소 정보를 데이터프레임에 추가
                high_info.at[index, '시군구'] = gu  # 주소 정보를 데이터프레임에 추가
                
high_info

,학교명,학교도로명 주소,학교도로명 상세주소,위도,경도,법정동,시군구
0,가락고등학교,서울특별시 송파구 송이로 42,"(송파동,가락고등학교)",37.501637,127.116943,송파동,송파구
1,강동고등학교,서울특별시 강동구 구천면로 572,(상일동),37.549890,127.160702,상일동,강동구
2,강서고등학교,서울특별시 양천구 목동중앙남로 27,", 강서고등학교 (목동)",37.536777,126.866330,목동,양천구
3,개포고등학교,서울특별시 강남구 개포로 402,"(개포동, 개포고등학교)",37.484959,127.059405,개포동,강남구
4,건국대학교사범대학부속고등학교,서울특별시 광진구 능동로 120,", 건국대학교사범대학부속고등학교 (화양동)",37.540060,127.080340,화양동,광진구
...,...,...,...,...,...,...,...
313,가재울고등학교,서울특별시 서대문구 수색로 100-35,(북가좌동),37.574297,126.909499,북가좌동,서대문구
314,하나고등학교,서울특별시 은평구 연서로 535,", 하나고등학교 (진관동)",37.641637,126.936930,진관동,은평구
315,금호고등학교,서울특별시 성동구 금호로 118,(금호동1가),37.553250,127.023620,금호동1가,성동구
316,도선고등학교,서울특별시 성동구 마장로 156,(하왕십리동),37.567131,127.026809,하왕십리동,성동구
317,덕수고등학교(일반고),서울특별시 송파구 위례북로 10,"(거여동, 덕수고등학교)",37.485367,127.146854,거여동,송파구

In [9]:
high_info.drop(columns=['학교도로명 주소', '학교도로명 상세주소', '위도', '경도'], inplace=True)
high_info

                 학교명    법정동   시군구
0             가락고등학교    송파동   송파구
1             강동고등학교    상일동   강동구
2             강서고등학교     목동   양천구
3             개포고등학교    개포동   강남구
4    건국대학교사범대학부속고등학교    화양동   광진구
..               ...    ...   ...
313          가재울고등학교   북가좌동  서대문구
314           하나고등학교    진관동   은평구
315           금호고등학교  금호동1가   성동구
316           도선고등학교  하왕십리동   성동구
317      덕수고등학교(일반고)    거여동   송파구

[318 rows x 3 columns]

In [17]:
high_info.to_csv('./data/법정동시군구학교명.csv')
high_info

                 학교명    법정동   시군구
0             가락고등학교    송파동   송파구
1             강동고등학교    상일동   강동구
2             강서고등학교     목동   양천구
3             개포고등학교    개포동   강남구
4    건국대학교사범대학부속고등학교    화양동   광진구
..               ...    ...   ...
313          가재울고등학교   북가좌동  서대문구
314           하나고등학교    진관동   은평구
315           금호고등학교   시가지동   성동구
316           도선고등학교  하왕십리동   성동구
317      덕수고등학교(일반고)    거여동   송파구

[318 rows x 3 columns]

In [15]:
# '강북구, '도봉구', '노원구' , '중랑구', '동대문구' 선택
selected_districts = ['강북구', '도봉구', '노원구', '성북구', '중랑구', '동대문구']
filtered_df = high_info[high_info['시군구'].isin(selected_districts)]
filtered_df

                 학교명    법정동   시군구
7             경동고등학교  삼선동3가   성북구
14            경희고등학교    이문동  동대문구
15          경희여자고등학교    회기동  동대문구
16            계성고등학교    길음동   성북구
17   고려대학교사범대학부속고등학교    정릉동   성북구
..               ...    ...   ...
291           원묵고등학교     묵동   중랑구
297          삼각산고등학교    미아동   강북구
305         해성여자고등학교    전농동  동대문구
306           솔샘고등학교    미아동   강북구
309           휘봉고등학교    휘경동  동대문구

[76 rows x 3 columns]

In [18]:
# 숫자 + '가'가 들어가는 법정동을 '시가지동'으로 변경
filtered_df['법정동'] = filtered_df['법정동'].apply(lambda x: '시가지동' if x.endswith('가')  or x == '돈암동' else x)

# 변경된 데이터프레임 출력
filtered_df

                 학교명   법정동   시군구
7             경동고등학교  시가지동   성북구
14            경희고등학교   이문동  동대문구
15          경희여자고등학교   회기동  동대문구
16            계성고등학교   길음동   성북구
17   고려대학교사범대학부속고등학교   정릉동   성북구
..               ...   ...   ...
291           원묵고등학교    묵동   중랑구
297          삼각산고등학교   미아동   강북구
305         해성여자고등학교   전농동  동대문구
306           솔샘고등학교   미아동   강북구
309           휘봉고등학교   휘경동  동대문구

[76 rows x 3 columns]

In [19]:
grouped = filtered_df.groupby(['시군구', '법정동']).size().reset_index(name='학교수')
grouped

     시군구   법정동  학교수
0    강북구   미아동    6
1    강북구   수유동    1
2    노원구   공릉동    2
3    노원구   상계동    6
4    노원구   월계동    5
5    노원구   중계동    9
6    노원구   하계동    3
7    도봉구   도봉동    2
8    도봉구   방학동    1
9    도봉구   쌍문동    4
10   도봉구    창동    3
11  동대문구   신설동    1
12  동대문구   이문동    1
13  동대문구   장안동    1
14  동대문구   전농동    2
15  동대문구   제기동    1
16  동대문구  청량리동    1
17  동대문구   회기동    1
18  동대문구   휘경동    3
19   성북구   길음동    1
20   성북구   석관동    1
21   성북구   성북동    2
22   성북구  시가지동    5
23   성북구   정릉동    3
24   성북구  하월곡동    1
25   중랑구   망우동    5
26   중랑구   면목동    1
27   중랑구    묵동    2
28   중랑구   상봉동    1
29   중랑구   중화동    1

In [20]:
width = pd.read_csv('./data/동북부면적.csv')
width = width.drop(columns=['Unnamed: 0'], axis=1)
width

     시군구   법정동    면적
0   동대문구   신설동  0.22
1   동대문구   용두동  0.76
2   동대문구   제기동  0.72
3   동대문구   전농동  0.94
4   동대문구  답십리동  1.02
5   동대문구   장안동  1.47
6   동대문구  청량리동  0.62
7   동대문구   회기동  0.28
8   동대문구   휘경동  0.86
9   동대문구   이문동  0.91
10   중랑구   면목동  2.44
11   중랑구   상봉동  0.83
12   중랑구   중화동  0.84
13   중랑구    묵동  0.90
14   중랑구   망우동  1.16
15   중랑구   신내동  1.10
16   성북구   성북동  1.04
17   성북구  시가지동  2.39
18   성북구   정릉동  1.80
19   성북구   길음동  0.89
20   성북구   종암동  0.75
21   성북구  하월곡동  1.05
22   성북구  상월곡동  0.20
23   성북구   장위동  1.37
24   성북구   석관동  0.68
25   강북구   미아동  2.69
26   강북구    번동  1.01
27   강북구   수유동  2.46
28   강북구   우이동  0.52
29   도봉구   쌍문동  1.48
30   도봉구   방학동  1.41
31   도봉구    창동  2.16
32   도봉구   도봉동  1.11
33   노원구   월계동  1.36
34   노원구   공릉동  1.63
35   노원구   하계동  0.82
36   노원구   상계동  3.84
37   노원구   중계동  1.71

In [ ]:
width['면적'] = width['면적'] * 0.001
width

In [24]:
merged_df = pd.merge(grouped, width, on=['시군구', '법정동'], how='inner')
merged_df

     시군구   법정동  학교수    면적
0    강북구   미아동    6  2.69
1    강북구   수유동    1  2.46
2    노원구   공릉동    2  1.63
3    노원구   상계동    6  3.84
4    노원구   월계동    5  1.36
5    노원구   중계동    9  1.71
6    노원구   하계동    3  0.82
7    도봉구   도봉동    2  1.11
8    도봉구   방학동    1  1.41
9    도봉구   쌍문동    4  1.48
10   도봉구    창동    3  2.16
11  동대문구   신설동    1  0.22
12  동대문구   이문동    1  0.91
13  동대문구   장안동    1  1.47
14  동대문구   전농동    2  0.94
15  동대문구   제기동    1  0.72
16  동대문구  청량리동    1  0.62
17  동대문구   회기동    1  0.28
18  동대문구   휘경동    3  0.86
19   성북구   길음동    1  0.89
20   성북구   석관동    1  0.68
21   성북구   성북동    2  1.04
22   성북구  시가지동    5  2.39
23   성북구   정릉동    3  1.80
24   성북구  하월곡동    1  1.05
25   중랑구   망우동    5  1.16
26   중랑구   면목동    1  2.44
27   중랑구    묵동    2  0.90
28   중랑구   상봉동    1  0.83
29   중랑구   중화동    1  0.84

In [25]:
merged_df['면적(㎢)당 학교 수'] = merged_df['학교수']  / merged_df['면적']
merged_df

     시군구   법정동  학교수    면적  면적(㎢)당 학교 수
0    강북구   미아동    6  2.69     2.230483
1    강북구   수유동    1  2.46     0.406504
2    노원구   공릉동    2  1.63     1.226994
3    노원구   상계동    6  3.84     1.562500
4    노원구   월계동    5  1.36     3.676471
5    노원구   중계동    9  1.71     5.263158
6    노원구   하계동    3  0.82     3.658537
7    도봉구   도봉동    2  1.11     1.801802
8    도봉구   방학동    1  1.41     0.709220
9    도봉구   쌍문동    4  1.48     2.702703
10   도봉구    창동    3  2.16     1.388889
11  동대문구   신설동    1  0.22     4.545455
12  동대문구   이문동    1  0.91     1.098901
13  동대문구   장안동    1  1.47     0.680272
14  동대문구   전농동    2  0.94     2.127660
15  동대문구   제기동    1  0.72     1.388889
16  동대문구  청량리동    1  0.62     1.612903
17  동대문구   회기동    1  0.28     3.571429
18  동대문구   휘경동    3  0.86     3.488372
19   성북구   길음동    1  0.89     1.123596
20   성북구   석관동    1  0.68     1.470588
21   성북구   성북동    2  1.04     1.923077
22   성북구  시가지동    5  2.39     2.092050
23   성북구   정릉동    3  1.80     1.666667
24   성북구  하월곡동    1  1.05     0.952381
25   중랑구   망우동    5  1.16     4.310345
26   중랑구   면목동    1  2.44     0.409836
27   중랑구    묵동    2  0.90     2.222222
28   중랑구   상봉동    1  0.83     1.204819
29   중랑구   중화동    1  0.84     1.190476

In [26]:
merged_df.drop(columns=['학교수', '면적'], inplace=True)
merged_df

     시군구   법정동  면적(㎢)당 학교 수
0    강북구   미아동     2.230483
1    강북구   수유동     0.406504
2    노원구   공릉동     1.226994
3    노원구   상계동     1.562500
4    노원구   월계동     3.676471
5    노원구   중계동     5.263158
6    노원구   하계동     3.658537
7    도봉구   도봉동     1.801802
8    도봉구   방학동     0.709220
9    도봉구   쌍문동     2.702703
10   도봉구    창동     1.388889
11  동대문구   신설동     4.545455
12  동대문구   이문동     1.098901
13  동대문구   장안동     0.680272
14  동대문구   전농동     2.127660
15  동대문구   제기동     1.388889
16  동대문구  청량리동     1.612903
17  동대문구   회기동     3.571429
18  동대문구   휘경동     3.488372
19   성북구   길음동     1.123596
20   성북구   석관동     1.470588
21   성북구   성북동     1.923077
22   성북구  시가지동     2.092050
23   성북구   정릉동     1.666667
24   성북구  하월곡동     0.952381
25   중랑구   망우동     4.310345
26   중랑구   면목동     0.409836
27   중랑구    묵동     2.222222
28   중랑구   상봉동     1.204819
29   중랑구   중화동     1.190476

In [28]:
merged_df.to_csv('./data/동북부학교수.csv')
merged_df

     시군구   법정동  면적(㎢)당 학교 수
0    강북구   미아동     2.230483
1    강북구   수유동     0.406504
2    노원구   공릉동     1.226994
3    노원구   상계동     1.562500
4    노원구   월계동     3.676471
5    노원구   중계동     5.263158
6    노원구   하계동     3.658537
7    도봉구   도봉동     1.801802
8    도봉구   방학동     0.709220
9    도봉구   쌍문동     2.702703
10   도봉구    창동     1.388889
11  동대문구   신설동     4.545455
12  동대문구   이문동     1.098901
13  동대문구   장안동     0.680272
14  동대문구   전농동     2.127660
15  동대문구   제기동     1.388889
16  동대문구  청량리동     1.612903
17  동대문구   회기동     3.571429
18  동대문구   휘경동     3.488372
19   성북구   길음동     1.123596
20   성북구   석관동     1.470588
21   성북구   성북동     1.923077
22   성북구  시가지동     2.092050
23   성북구   정릉동     1.666667
24   성북구  하월곡동     0.952381
25   중랑구   망우동     4.310345
26   중랑구   면목동     0.409836
27   중랑구    묵동     2.222222
28   중랑구   상봉동     1.204819
29   중랑구   중화동     1.190476