In [1]:
import warnings
warnings.filterwarnings(action='ignore')
%config Computer.use_jedi = False
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import missingno as msno
plt.rc('font', family='D2Coding')
from plotnine import *
import requests

In [2]:
subway = pd.read_csv('./data/서울지하철위도경도.csv', encoding='EUC-KR')
subway.head()

   연번  호선  고유역번호(외부역코드)    역명         위도          경도        작성일자
0   1   1           150    서울  37.553150  126.972533  1974-02-28
1   2   1           151    시청  37.563590  126.975407  1974-08-15
2   3   1           152    종각  37.570203  126.983116  1974-08-15
3   4   1           153  종로3가  37.570429  126.992095  1974-08-15
4   5   1           154  종로5가  37.570971  127.001900  1974-03-31

In [3]:
# 네이버 개발자 포털에서 발급한 Client ID와 Client Secret
client_id = '5j924usqjd'
client_secret = 'W4wjDI2jRzuvP1N0zo9UiG1zTRoDP30idjpESbp4'

# '위도'와 '경도' 정보가 있는 데이터프레임 (house_df)에서 반복적으로 역 지오코딩을 수행합니다.
for index, row in subway.iterrows():
    latitude = row['위도']
    longitude = row['경도']
#     https://naveropenapi.apigw.ntruss.com/map-reversegeocode/v2/gc?request=coordsToaddr&coords=129.1133567,35.2982640&sourcecrs=epsg:4326&output=json&orders=addr,admcode
    if latitude is not None and longitude is not None:
        url = f'https://naveropenapi.apigw.ntruss.com/map-reversegeocode/v2/gc?request=coordsToaddr&coords={longitude},{latitude}&sourcecrs=epsg:4326&output=json&orders=addr,admcode'
        headers = {
            'X-NCP-APIGW-API-KEY-ID': client_id,
            'X-NCP-APIGW-API-KEY': client_secret
        }
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            data = response.json()
            if data.get('results'):
                gu = data['results'][0]['region']['area2']['name']  # 예시로 주소 중 'area3'의 'name' 사용
                dong = data['results'][0]['region']['area3']['name']  # 예시로 주소 중 'area3'의 'name' 사용
                subway.at[index, '법정동'] = dong  # 주소 정보를 데이터프레임에 추가
                subway.at[index, '시군구'] = gu  # 주소 정보를 데이터프레임에 추가
                
subway

,연번,호선,고유역번호(외부역코드),역명,위도,경도,작성일자,법정동,시군구
0,1,1,150,서울,37.553150,126.972533,1974-02-28,동자동,용산구
1,2,1,151,시청,37.563590,126.975407,1974-08-15,서소문동,중구
2,3,1,152,종각,37.570203,126.983116,1974-08-15,관철동,종로구
3,4,1,153,종로3가,37.570429,126.992095,1974-08-15,종로3가,종로구
4,5,1,154,종로5가,37.570971,127.001900,1974-03-31,종로5가,종로구
...,...,...,...,...,...,...,...,...,...
271,272,8,2823,남한산성입구,37.451568,127.159845,1996-10-31,금광동,성남시 중원구
272,273,8,2824,단대오거리,37.445057,127.156735,1996-12-28,신흥동,성남시 수정구
273,274,8,2825,신흥,37.440952,127.147590,1996-12-28,신흥동,성남시 수정구
274,275,8,2826,수진,37.437575,127.140936,1996-12-28,성남동,성남시 중원구
275,276,8,2827,모란,37.433888,127.129921,1996-11-30,성남동,성남시 중원구

In [4]:
subway_dongbuk = subway[(subway['시군구'] == '강북구') | (subway['시군구'] == '도봉구') | (subway['시군구'] == '노원구')| (subway['시군구'] == '중랑구')
                            | (subway['시군구'] == '성북구')| (subway['시군구'] == '동대문구')]
subway_dongbuk

,연번,호선,고유역번호(외부역코드),역명,위도,경도,작성일자,법정동,시군구
7,8,1,156,신설동,37.576117,127.024710,1974-03-30,신설동,동대문구
8,9,1,157,제기동,37.578116,127.034902,1974-03-30,용두동,동대문구
9,10,1,158,청량리,37.580148,127.045063,1974-08-31,청량리동,동대문구
53,54,2,246,신설동,37.574653,127.025158,1977-08-29,신설동,동대문구
54,55,2,250,용두,37.574012,127.038110,2005-12-30,용두동,동대문구
95,96,4,409,당고개,37.669560,127.078404,1993-07-31,상계동,노원구
96,97,4,410,상계,37.660576,127.073199,1985-05-20,상계동,노원구
97,98,4,411,노원,37.656274,127.063183,1985-05-20,상계동,노원구
98,99,4,412,창동,37.652993,127.046746,1985-05-20,창동,도봉구
99,100,4,413,쌍문,37.648274,127.034381,1985-05-20,쌍문동,도봉구
100,101,4,414,수유,37.637127,127.024731,1985-04-20,번동,강북구
101,102,4,415,미아,37.626435,127.026151,1985-04-20,미아동,강북구
102,103,4,416,미아사거리,37.613276,127.030083,1985-04-20,미아동,강북구
103,104,4,417,길음,37.604087,127.025353,1985-04-20,길음동,성북구
104,105,4,418,성신여대입구,37.592782,127.017338,1985-04-20,동선동1가,성북구
105,106,4,419,한성대입구,37.588380,127.006751,1985-05-20,동소문동2가,성북구
205,206,6,2640,보문,37.585293,127.019377,2001-12-31,보문동2가,성북구
206,207,6,2641,안암,37.586261,127.029030,2001-12-31,안암동5가,성북구
207,208,6,2642,고려대,37.590340,127.036260,2001-12-31,종암동,성북구
208,209,6,2643,월곡,37.601920,127.041492,2011-12-31,하월곡동,성북구
209,210,6,2644,상월곡,37.606392,127.048509,2001-06-08,상월곡동,성북구
210,211,6,2645,돌곶이,37.610522,127.056419,2001-06-08,장위동,성북구
211,212,6,2646,석계,37.614937,127.065922,2001-06-08,석관동,성북구
212,213,6,2647,태릉입구,37.617319,127.074741,2001-03-15,공릉동,노원구
213,214,6,2648,화랑대,37.619875,127.084106,2001-03-15,묵1동,중랑구
214,215,6,2615,봉화산,37.617293,127.091375,2000-11-30,신내동,중랑구
215,216,6,2649,신내,37.612571,127.104326,2020-12-31,망우동,중랑구
217,218,7,2712,도봉산,37.689131,127.046548,1996-12-23,도봉동,도봉구
218,219,7,2713,수락산,37.677804,127.055314,1997-05-04,상계동,노원구
219,220,7,2714,마들,37.664985,127.057701,1996-10-30,상계동,노원구
220,221,7,2715,노원,37.654478,127.060555,1996-11-30,상계동,노원구
221,222,7,2716,중계,37.645052,127.064084,1996-11-30,중계동,노원구
222,223,7,2717,하계,37.636363,127.067999,1996-08-31,하계동,노원구
223,224,7,2718,공릉,37.625642,127.072969,1996-11-30,공릉동,노원구
224,225,7,2719,태릉입구,37.617319,127.074741,2001-03-15,공릉동,노원구
225,226,7,2720,먹골,37.610638,127.077719,1996-10-31,묵동,중랑구
226,227,7,2721,중화,37.602604,127.079254,1996-08-28,중화동,중랑구
227,228,7,2722,상봉,37.595673,127.085708,1997-03-26,상봉동,중랑구
228,229,7,2723,면목,37.588671,127.087503,1997-03-31,면목동,중랑구
229,230,7,2724,사가정,37.580912,127.088502,1996-11-30,면목동,중랑구
230,231,7,2725,용마산,37.573752,127.086802,1996-10-31,면목동,중랑구

In [5]:
subway_dongbuk.drop(columns=['연번', '호선', '고유역번호(외부역코드)','위도', '경도', '작성일자'], inplace=True)
subway_dongbuk

         역명     법정동   시군구
7       신설동     신설동  동대문구
8       제기동     용두동  동대문구
9       청량리    청량리동  동대문구
53      신설동     신설동  동대문구
54       용두     용두동  동대문구
95      당고개     상계동   노원구
96       상계     상계동   노원구
97       노원     상계동   노원구
98       창동      창동   도봉구
99       쌍문     쌍문동   도봉구
100      수유      번동   강북구
101      미아     미아동   강북구
102   미아사거리     미아동   강북구
103      길음     길음동   성북구
104  성신여대입구   동선동1가   성북구
105   한성대입구  동소문동2가   성북구
205      보문   보문동2가   성북구
206      안암   안암동5가   성북구
207     고려대     종암동   성북구
208      월곡    하월곡동   성북구
209     상월곡    상월곡동   성북구
210     돌곶이     장위동   성북구
211      석계     석관동   성북구
212    태릉입구     공릉동   노원구
213     화랑대     묵1동   중랑구
214     봉화산     신내동   중랑구
215      신내     망우동   중랑구
217     도봉산     도봉동   도봉구
218     수락산     상계동   노원구
219      마들     상계동   노원구
220      노원     상계동   노원구
221      중계     중계동   노원구
222      하계     하계동   노원구
223      공릉     공릉동   노원구
224    태릉입구     공릉동   노원구
225      먹골      묵동   중랑구
226      중화     중화동   중랑구
227      상봉     상봉동   중랑구
228      면목     면목동   중랑구
229     사가정     면목동   중랑구
230     용마산     면목동   중랑구

In [6]:
# 숫자 + '가'가 들어가는 법정동을 '시가지동'으로 변경
subway_dongbuk['법정동'] = subway_dongbuk['법정동'].apply(lambda x: '시가지동' if x.endswith('가')  or x == '돈암동' else x)

# 변경된 데이터프레임 출력
subway_dongbuk

         역명   법정동   시군구
7       신설동   신설동  동대문구
8       제기동   용두동  동대문구
9       청량리  청량리동  동대문구
53      신설동   신설동  동대문구
54       용두   용두동  동대문구
95      당고개   상계동   노원구
96       상계   상계동   노원구
97       노원   상계동   노원구
98       창동    창동   도봉구
99       쌍문   쌍문동   도봉구
100      수유    번동   강북구
101      미아   미아동   강북구
102   미아사거리   미아동   강북구
103      길음   길음동   성북구
104  성신여대입구  시가지동   성북구
105   한성대입구  시가지동   성북구
205      보문  시가지동   성북구
206      안암  시가지동   성북구
207     고려대   종암동   성북구
208      월곡  하월곡동   성북구
209     상월곡  상월곡동   성북구
210     돌곶이   장위동   성북구
211      석계   석관동   성북구
212    태릉입구   공릉동   노원구
213     화랑대   묵1동   중랑구
214     봉화산   신내동   중랑구
215      신내   망우동   중랑구
217     도봉산   도봉동   도봉구
218     수락산   상계동   노원구
219      마들   상계동   노원구
220      노원   상계동   노원구
221      중계   중계동   노원구
222      하계   하계동   노원구
223      공릉   공릉동   노원구
224    태릉입구   공릉동   노원구
225      먹골    묵동   중랑구
226      중화   중화동   중랑구
227      상봉   상봉동   중랑구
228      면목   면목동   중랑구
229     사가정   면목동   중랑구
230     용마산   면목동   중랑구

In [7]:
# '시군구명'과 '법정동명'을 기준으로 그룹화하고 '법정동'의 데이터 수를 카운트
grouped = subway_dongbuk.groupby(['시군구', '법정동']).size().reset_index(name='역수')
grouped

     시군구   법정동  역수
0    강북구   미아동   2
1    강북구    번동   1
2    노원구   공릉동   3
3    노원구   상계동   6
4    노원구   중계동   1
5    노원구   하계동   1
6    도봉구   도봉동   1
7    도봉구   쌍문동   1
8    도봉구    창동   1
9   동대문구   신설동   2
10  동대문구   용두동   2
11  동대문구  청량리동   1
12   성북구   길음동   1
13   성북구  상월곡동   1
14   성북구   석관동   1
15   성북구  시가지동   4
16   성북구   장위동   1
17   성북구   종암동   1
18   성북구  하월곡동   1
19   중랑구   망우동   1
20   중랑구   면목동   3
21   중랑구   묵1동   1
22   중랑구    묵동   1
23   중랑구   상봉동   1
24   중랑구   신내동   1
25   중랑구   중화동   1

In [8]:
grouped.to_csv('./data/동북부지하철수.csv')
grouped

     시군구   법정동  역수
0    강북구   미아동   2
1    강북구    번동   1
2    노원구   공릉동   3
3    노원구   상계동   6
4    노원구   중계동   1
5    노원구   하계동   1
6    도봉구   도봉동   1
7    도봉구   쌍문동   1
8    도봉구    창동   1
9   동대문구   신설동   2
10  동대문구   용두동   2
11  동대문구  청량리동   1
12   성북구   길음동   1
13   성북구  상월곡동   1
14   성북구   석관동   1
15   성북구  시가지동   4
16   성북구   장위동   1
17   성북구   종암동   1
18   성북구  하월곡동   1
19   중랑구   망우동   1
20   중랑구   면목동   3
21   중랑구   묵1동   1
22   중랑구    묵동   1
23   중랑구   상봉동   1
24   중랑구   신내동   1
25   중랑구   중화동   1

In [9]:
width = pd.read_csv('./data/동북부면적.csv')
width = width.drop(columns=['Unnamed: 0'], axis=1)
width

     시군구   법정동    면적
0   동대문구   신설동  0.22
1   동대문구   용두동  0.76
2   동대문구   제기동  0.72
3   동대문구   전농동  0.94
4   동대문구  답십리동  1.02
5   동대문구   장안동  1.47
6   동대문구  청량리동  0.62
7   동대문구   회기동  0.28
8   동대문구   휘경동  0.86
9   동대문구   이문동  0.91
10   중랑구   면목동  2.44
11   중랑구   상봉동  0.83
12   중랑구   중화동  0.84
13   중랑구    묵동  0.90
14   중랑구   망우동  1.16
15   중랑구   신내동  1.10
16   성북구   성북동  1.04
17   성북구  시가지동  2.39
18   성북구   정릉동  1.80
19   성북구   길음동  0.89
20   성북구   종암동  0.75
21   성북구  하월곡동  1.05
22   성북구  상월곡동  0.20
23   성북구   장위동  1.37
24   성북구   석관동  0.68
25   강북구   미아동  2.69
26   강북구    번동  1.01
27   강북구   수유동  2.46
28   강북구   우이동  0.52
29   도봉구   쌍문동  1.48
30   도봉구   방학동  1.41
31   도봉구    창동  2.16
32   도봉구   도봉동  1.11
33   노원구   월계동  1.36
34   노원구   공릉동  1.63
35   노원구   하계동  0.82
36   노원구   상계동  3.84
37   노원구   중계동  1.71